{% extends 'base.html' %}

{% block title %} Авито парсер {% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $.ajax({
                    url: '/work/autoparse/',
                    method: 'GET',
                    success: function() {
                         {
                            $('.badge').text('parsing active!');
                        }
                    }
                })
            }, 150000)
        })
    </script>

   {% endblock %}

{% block sidebar %}
  {% url 'parse_data' as parse_data_url %}
  {% url 'all_list' as all_list_url %}
  {% url 'new_ads' as new_url %}
  {% url 'deltas' as deltas_url %}
  {% url 'analyze' as analyze_url %}


    <div class="list-group">
      <span class="text-uppercase" style="font-size: 250%">Таблица</span>

        <a href="{% url 'all_list' %}"
          class="list-group-item {% if request.path == all_list_url %} active {% endif %} " style="font-size: 250%">Показать все</a>



      <span class="text-uppercase">Analyze</span>

        <a href="{% url 'deltas' %}"
          class="list-group-item {% if request.path == deltas_url %} active {% endif %} " style="font-size: 250%">Показать Дельту</a>


        <a href="{% url 'parse_data' %}"
              class="list-group-item {% if request.path == parse_data_url %} active {% endif %} " style="font-size: 250%">Начать Парсинг</a>
        <a href="{% url 'new_ads' %}"
          class="list-group-item {% if request.path == new_ads_url %} active {% endif %} " style="font-size: 250%">Новые</a>
    </div>

{% endblock %}

