{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Объекты с измененной ценой</h4>
        </div>
        <div class="panel-body">
            <br/>
            <table class="table table-bordered table-hover table-striped">

                <tbody>

                {% render_table table %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}