{% extends 'restaurant/base.html' %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}

{% block page %}

    <div class="row">
        <div class="col-lg-8">
            <!-- Revenu by week -->
            <div class="pannel">
                <div class="pannel-heading bg-blue">
                    <h4 class="pannel text-center text-white">
                        Revenu by week

                    </h4>
                </div>
                <div class="pannel-body">
                    <canvas id="revenuChart" height="250">
                        <script>
                            var ctx = document.getElementById('revenuChart').getContext("2d");
                            var data = {
                                        labels:["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                                        datasets: [
                                            {
                                                label: "Revenu  by Week",
                                                backgroundColor: "rgba(54, 162, 235, 0.9)",
                                                howerBackgroundColor: "rgba(54, 162, 235, 1)",
                                                data: {{ revenu }}

                                            }]
                                        };
                            new Chart(ctx, {
                                            type: 'bar',
                                            data: data
                                            }
                                      )

                        </script>

                    </canvas>
                </div>
            </div>

            <!-- Orders by week -->
                <div class="row">
        <div class="col-lg-8">
            <!-- Revenu by week -->
            <div class="pannel">
                <div class="pannel-heading bg-blue">
                    <h4 class="pannel text-center text-white">
                        Orders by week

                    </h4>
                </div>
                <div class="pannel-body">
                    <canvas id="orderChart" height="250">
                        <script>
                            var ctx = document.getElementById('orderChart').getContext("2d");
                            var data = {
                                        labels:["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                                        datasets: [
                                            {
                                                label: "Orders  by Week",
                                                backgroundColor: "rgba(14, 362, 35, 0.9)",
                                                howerBackgroundColor: "rgba(54, 162, 235, 1)",
                                                data: {{ orders }}

                                            }]
                                        };
                            new Chart(ctx, {
                                            type: 'bar',
                                            data: data
                                            }
                                      )

                        </script>

                    </canvas>
                </div>
            </div>

            <!-- Orders by week -->

        </div>

    </div>


        </div>
        <div class="col-lg-4">

            <!-- TOP 3 Meals -->
            <div class="pannel">
                <div class="pannel-heading bg-blue">
                    <h4 class="pannel text-center text-white">
                        Top 3 Meals
                    </h4>
                </div>
                <div class="pannel-body">
                    <canvas id="mealsChart" height="350">
                        <script>
                            var ctx = document.getElementById('mealsChart').getContext("2d");
                            var data = {
                                        labels:{{ meal.labels|safe }},
                                        datasets: [
                                            {
                                                backgroundColor: [
                                                "#36A2EB", "#FFCE56",  '#FF6384'],
                                                data: {{ meal.data }},

                                            }]
                                        };
                            new Chart(ctx, {
                                            type: 'pie',
                                            data: data
                                            }
                                      )

                        </script>

                    </canvas>
                </div>
            </div>

            <!- TOP 3 Drivers -->
            <div class="pannel">
                <div class="pannel-heading bg-blue">
                    <h4 class="pannel text-center text-white">
                        Top 3 Drivers
                    </h4>
                </div>
                <div class="pannel-body">
                    <canvas id="driverChart" height="350">
                        <script>
                            var ctx = document.getElementById('driverChart').getContext("2d");
                            var data = {
                                        labels:{{ driver.labels|safe }},
                                        datasets: [
                                            {
                                                backgroundColor: [
                                                "#36A2EB", "#FFCE56",  '#FF6384'],
                                                data: {{ driver.data }},

                                            }]
                                        };
                            new Chart(ctx, {
                                            type: 'pie',
                                            data: data
                                            }
                                      )

                        </script>

                    </canvas>
                </div>
            </div>


        </div>
    </div>




{% endblock %}